<div>
    <table class="table table-bordered monthview-datetable monthview-datetable">
        <thead>
        <tr>
            <th ng-show="showWeeks" class="calendar-week-column text-center">#</th>
            <th ng-repeat="label in labels track by $index" 
                ng-show="($index !== 0 && $index !== 6)||(!$parent.hideWeekend)"
                class="text-center">
                <small>{{label}}</small>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows track by $index">
            <td ng-show="showWeeks" class="calendar-week-column text-center">
                <small><em>{{ weekNumbers[$index] }}</em></small>
            </td>
            <td ng-repeat="dt in row track by dt.date" class="monthview-dateCell" ng-click="select(dt.date)"
                ng-show="($index !== 0 && $index !== 6)||(!$parent.hideWeekend)"
                ng-class="{'text-center':true, 'monthview-current': dt.current&&!dt.selected&&!dt.hasEvent,'monthview-secondary-with-event': dt.secondary&&dt.hasEvent, 'monthview-primary-with-event':!dt.secondary&&dt.hasEvent&&!dt.selected, 'monthview-selected': dt.selected}">
                <div ng-class="{'text-muted':dt.secondary}">
                    {{dt.label}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="showEventDetail && eventsTypes != null" class="event-detail-container" ng-repeat="eventType in eventsTypes">
        <div class="scrollable">
            <table class="table table-bordered table-striped table-fixed">
            <caption class="calendar-header text-left">{{eventType}}</caption>
                <tr ng-repeat="event in selectedDate.events | filter:{ type: eventType }"  ng-click="eventSelected({event:event})" ng-if="hasEventsWithType(eventType)">
                    <td ng-if="!event.allDay" ng-class="{'one-cell': !event.title}" class="monthview-eventdetail-timecolumn">{{event.startTime|date: 'HH:mm'}}
                        -
                        {{event.endTime|date: 'HH:mm'}}
                    </td>
                    <td ng-if="event.allDay" ng-class="{'one-cell': !event.title}" class="monthview-eventdetail-timecolumn">{{$parent.allDayTitle ? $parent.allDayTitle : 'All day'}}</td>
                    <td ng-if="event.title" class="event-detail">{{event.title}}</td>
                </tr>
                <tr ng-if="!hasEventsWithType(eventType)"><td class="no-event-label">{{$parent.noEventsTitle ? $parent.noEventsTitle : 'No Events'}}</td></tr>
            </table>
        </div>
    </div>
    <div ng-if="showEventDetail && eventsTypes == null" class="event-detail-container">
        <div class="scrollable">
            <table class="table table-bordered table-striped table-fixed">
            <caption class="calendar-header text-left">{{eventType}}</caption>
                <tr ng-repeat="event in selectedDate.events" ng-click="eventSelected({event:event})" ng-if="selectedDate.events">
                    <td ng-if="!event.allDay" ng-class="{'one-cell': !event.title}" class="monthview-eventdetail-timecolumn">
                        {{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}
                    </td>
                    <td ng-if="event.allDay" ng-class="{'one-cell': !event.title}" class="monthview-eventdetail-timecolumn">{{$parent.allDayTitle ? $parent.allDayTitle : 'All day'}}</td>
                    <td ng-if="event.title" class="event-detail" >{{event.title}}</td>
                </tr>
                <tr ng-if="!selectedDate.events"><td class="no-event-label">{{$parent.noEventsTitle ? $parent.noEventsTitle : 'No Events'}}</td></tr>
            </table>
        </div>
    </div>
</div>